In [8]:
%pip install matplotlib

Requirement already satisfied: matplotlib in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/balthazarduc/anaconda3/lib/python3.11/site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt

## Exercise 1

Compute the annualized average return and annualized volatility for all individual assets over the period 2008–2022. Plot and comment the histogram of these distributions. Compute and comment on the correlation between individual average returns and volatilities in the cross section. (10 points)

In [11]:
df_eur_month = pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/main/df_EUR_monthly_return.csv')

In [12]:

df_eur_month.dtypes

ISIN_First2             object
Unnamed: 1              object
Unnamed: 2              object
ISIN                    object
NAME                    object
                        ...
2022-08-31 00:00:00    float64
2022-09-30 00:00:00    float64
2022-10-31 00:00:00    float64
2022-11-30 00:00:00    float64
2022-12-31 00:00:00    float64
Length: 281, dtype: object

In [13]:
returns = df_eur_month.pct_change()
returns=returns.dropna()
returns

TypeError: unsupported operand type(s) for /: 'str' and 'str'

## Exercise 2

## Exercise 3

## Exercise 4

df_ESG=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/baltha/df_ESG_Y.csv')
df_eur_Year = pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/main/df_EUR_yearly_return.csv')
df_eur_return_M=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/camille/df_EUR_monthly_return.csv')

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import minimize

hello

In [21]:
df_ESG=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/baltha/df_ESG_Y.csv')
df_eur_Year = pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/main/df_EUR_yearly_return.csv')
df_eur_return_M=pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/camille/df_EUR_monthly_return.csv')

In [22]:
df_eur_return_M

,ISIN_First2,Unnamed: 1,Unnamed: 2,ISIN,NAME,2000-01-31 00:00:00,2000-02-29 00:00:00,2000-03-31 00:00:00,2000-04-30 00:00:00,2000-05-31 00:00:00,...,2022-03-31 00:00:00,2022-04-30 00:00:00,2022-05-31 00:00:00,2022-06-30 00:00:00,2022-07-31 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00,2022-10-31 00:00:00,2022-11-30 00:00:00,2022-12-31 00:00:00
0,AT,AUSTRIA,EUR,AT00000VIE62,FLUGHAFEN WIEN,156.25,153.83,158.62,137.27,148.95,...,1073.50,1044.97,1035.49,1258.39,1229.26,1215.93,1190.06,1198.76,1248.90,1269.03
1,AT,AUSTRIA,EUR,AT0000652011,ERSTE GROUP BANK,94.91,97.74,100.50,96.13,97.86,...,567.30,482.13,504.75,410.92,409.07,367.15,360.26,400.68,495.04,518.33
2,AT,AUSTRIA,EUR,AT0000743059,OMV,389.64,318.75,311.41,335.24,356.91,...,4277.87,4589.77,5163.58,4341.76,3918.78,3758.17,3396.99,4277.10,4792.28,4763.37
3,AT,AUSTRIA,EUR,AT0000746409,VERBUND,524.60,564.59,518.56,463.37,498.05,...,8285.25,8406.71,7820.72,7690.07,8637.53,7555.23,6751.05,6172.06,6981.93,6614.67
4,AT,AUSTRIA,EUR,AT0000831706,WIENERBERGER,2379.46,2203.58,2451.55,2552.81,2746.80,...,6331.35,5915.37,5895.80,4581.59,4896.37,5022.24,4318.66,4894.01,5548.18,5152.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,SE,SWEDEN,EUR,SE0015988019,NIBE INDUSTRIER,17.82,18.78,19.97,19.59,19.61,...,6003.53,5299.14,4659.33,4014.61,5348.71,5050.28,4831.75,4270.62,4921.75,4991.91
504,SE,SWEDEN,EUR,SE0016589188,ELECTROLUX B,533.00,470.45,473.03,432.63,431.17,...,2196.55,2209.15,2216.31,1921.70,2046.88,1819.41,1558.19,1834.65,2072.22,2010.28
505,SE,SWEDEN,EUR,SE0017486889,ATLAS COPCO A,221.48,202.18,212.75,209.47,198.64,...,8565.58,7554.67,7456.44,6222.46,7723.51,6823.05,6300.71,7188.93,8151.37,7951.07
506,SE,SWEDEN,EUR,SE0018012494,MODERN TIMES GROUP MTG B,76.83,85.51,79.92,80.98,73.42,...,128.27,92.81,102.04,91.70,117.58,100.69,76.18,85.61,88.01,97.81
507,SE,SWEDEN,EUR,SE0020050417,BOLIDEN ORD SHS,15.72,11.76,11.49,8.90,8.70,...,52.97,46.57,46.19,35.02,36.46,35.64,34.45,32.10,40.12,41.42