In [1]:
# Hi Giulia

In [10]:
pip install pandas

Requirement already satisfied: pandas in c:\users\giuli\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\giuli\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\giuli\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\giuli\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\giuli\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\giuli\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [15]:
#Monthly_reurn include 278 months and 2051 firms (rows)
monthly_return_index_path = r'C:\Users\giuli\Documents\SEF_Homework1\SEF\ESG_Scores\DS_RI_T_USD_M.xlsx'  # Replace with your Excel file name
df_monthly_return = pd.read_excel(monthly_return_index_path)



#Monthly_capitalization include 278 months and 2051 firms 
monthly_capitalization_path = r'C:\Users\giuli\Documents\SEF_Homework1\SEF\ESG_Scores\DS_MV_USD_M.xlsx'  # Replace with your Excel file name
df_monthly_capitalization = pd.read_excel(monthly_capitalization_path)



#M country to region data
region_path = r'C:\Users\giuli\Documents\SEF_Homework1\SEF\CountriesToRegions.xlsx'  # Replace with your Excel file name
df_region = pd.read_excel(region_path)
df_region

            % AMER: Cnada + USA               Unnamed: 1 Unnamed: 2
0    % FRON: Frontier countries                      NaN        NaN
1    % SA: Standalone countries                      NaN        NaN
2        % EM: Emerging markets                      NaN        NaN
3                           NaN                      NaN        NaN
4                          Code                     Name     Region
..                          ...                      ...        ...
97                           US            UNITED STATES       AMER
98                           VI  VIRGIN ISLANDS, BRITISH      Other
99                           VN                VIET NAM        FRON
100                          ZA            SOUTH AFRICA          EM
101                          ZM                ZIMBABWE          SA

[102 rows x 3 columns]

In [16]:
#Let's keep only the EUR contries

df_region.drop(index=[0,1,2,3], inplace= True )

df_EUR = df_region[df_region['Unnamed: 2'] == 'EUR']

In [18]:
#Rename the column so we can merge later
df_EUR = df_EUR.rename(columns={'% AMER: Cnada + USA' : 'ISIN_First2'})

print(df_EUR)

   ISIN_First2       Unnamed: 1 Unnamed: 2
7           AT          AUSTRIA        EUR
11          BE          BELGIUM        EUR
19          CH      SWITZERLAND        EUR
26          DE          GERMANY        EUR
27          DK          DENMARK        EUR
30          ES            SPAIN        EUR
31          FI          FINLAND        EUR
32          FR          FRANCE         EUR
33          GB  UNITED KINGDOM         EUR
43          IE          IRELAND        EUR
44          IL          ISRAEL         EUR
48          IT            ITALY        EUR
71          NL      NETHERLANDS        EUR
72          NO          NORWAY         EUR
80          PT        PORTUGAL         EUR
87          SE          SWEDEN         EUR

In [19]:
#Now merged with the two dataset 
#First step we need to create a new column with only the 2 first caracters of the columns ISIN

#First with the return data 

df_monthly_return['ISIN_First2'] = df_monthly_return ['ISIN'].str[:2]
print(df_monthly_return)

              ISIN                                NAME  2000-01-31 00:00:00  \
0     AN8068571086                        SCHLUMBERGER              1858.26
1     ARALUA010258                               ALUAR              1820.11
2     ARP125991090                  BBVA BANCO FRANCES               396.54
3     ARSIDE010029  TERNIUM ARGENTINA SOCIEDAD ANONIMA               177.53
4     AT00000VIE62                      FLUGHAFEN WIEN               156.25
...            ...                                 ...                  ...
2046  ZAE000191342                    ALTRON LIMITED A                43.29
2047  ZAE000255915                          ABSA GROUP                58.08
2048  ZAE000298253              NORTHAM PLATINUM HLDGS                 4.13
2049  ZAE000302618                               AVENG                21.22
2050  ZAE000322095                              NAMPAK               120.95

      2000-02-29 00:00:00  2000-03-31 00:00:00  2000-04-30 00:00:00  \
0                 2254.15              2334.75              2336.65
1                 1911.12              1866.11              1835.93
2                  467.49               418.37               350.66
3                  184.55               184.16               171.05
4                  153.83               158.62               137.27
...                   ...                  ...                  ...
2046                39.64                42.57                33.68
2047                54.43                51.47                49.90
2048                 3.38                 3.25                 2.52
2049                21.61                18.52                16.75
2050               118.15               105.83               106.20

      2000-05-31 00:00:00  2000-06-30 00:00:00  2000-07-31 00:00:00  \
0                 2245.09              2283.70              2262.67
1                 1805.22              1657.42              1911.95
2                  352.52               401.75               404.48
3                  112.65               120.55               124.93
4                  148.95               159.68               151.08
...                   ...                  ...                  ...
2046                28.57                27.75                31.91
2047                51.61                53.43                51.02
2048                 2.68                 3.45                 3.92
2049                13.14                14.87                14.24
2050                86.23                99.82                85.27

      2000-08-31 00:00:00  ...  2022-04-30 00:00:00  2022-05-31 00:00:00  \
0                 2610.77  ...              3603.19              4261.29
1                 1982.99  ...              4024.78              3845.16
2                  398.47  ...               185.10               185.83
3                  137.21  ...              1141.96              1055.43
4                  153.35  ...              1044.97              1035.49
...                   ...  ...                  ...                  ...
2046                34.77  ...                88.95                95.38
2047                58.22  ...               463.91               503.28
2048                 4.97  ...                99.90               100.88
2049                15.07  ...                 0.15                 0.15
2050                89.12  ...                18.28                18.68

      2022-06-30 00:00:00  2022-07-31 00:00:00  2022-08-31 00:00:00  \
0                 3315.58              3433.33              3537.17
1                 3472.87              5651.92              5459.78
2                  170.00               224.44               242.69
3                 1025.82              1373.67              1428.06
4                 1258.39              1229.26              1215.93
...                   ...                  ...                  ...
2046                80.34                82.01                84.07
2047               402.95               435.77               445.97
2048                87.43                88.55                79.08
2049                 0.15                 0.17                 0.15
2050                13.21                14.52                13.73

      2022-09-30 00:00:00  2022-10-31 00:00:00  2022-11-30 00:00:00  \
0                 3344.15              4846.68              4801.97
1                 4847.48              4827.59              5377.66
2                  242.21               225.97               240.64
3                 1263.78              1286.25              1257.52
4                 1190.06              1198.76              1248.90
...                   ...                  ...                  ...
2046                80.56                79.42                94.73
2047               434.93               480.99               534.23
2048                72.97                78.43                96.53
2049                 0.13                 0.13                 0.15
2050                10.12                10.06                11.28

      2022-12-31 00:00:00  ISIN_First2
0                 4997.02           AN
1                 5524.11           AR
2                  299.57           AR
3                 1463.58           AR
4                 1269.03           AT
...                   ...          ...
2046                91.84           ZA
2047               504.32           ZA
2048                91.99           ZA
2049                 0.14           ZA
2050                 6.01           ZA

[2051 rows x 279 columns]

In [20]:
#With the capitlization now
df_monthly_capitalization['ISIN_First2'] = df_monthly_capitalization ['ISIN'].str[:2]
print(df_monthly_capitalization )

              ISIN                                NAME  2000-01-31 00:00:00  \
0     AN8068571086                        SCHLUMBERGER             33574.85
1     ARALUA010258                               ALUAR              1328.64
2     ARP125991090                  BBVA BANCO FRANCES              1570.39
3     ARSIDE010029  TERNIUM ARGENTINA SOCIEDAD ANONIMA              1407.47
4     AT00000VIE62                      FLUGHAFEN WIEN               567.85
...            ...                                 ...                  ...
2046  ZAE000191342                    ALTRON LIMITED A               115.91
2047  ZAE000255915                          ABSA GROUP              2649.35
2048  ZAE000298253              NORTHAM PLATINUM HLDGS               259.71
2049  ZAE000302618                               AVENG               445.83
2050  ZAE000322095                              NAMPAK              1350.98

      2000-02-29 00:00:00  2000-03-31 00:00:00  2000-04-30 00:00:00  \
0                40611.13             43352.43             43387.86
1                 1395.07              1362.23              1340.19
2                 1851.34              1656.82              1388.70
3                 1463.08              1460.01              1356.04
4                  559.05               576.48               498.86
...                   ...                  ...                  ...
2046               106.13               113.98                90.17
2047              2483.04              2348.10              2295.91
2048               207.52               249.66               193.50
2049               454.09               389.04               351.95
2050              1319.65              1182.07              1186.24

      2000-05-31 00:00:00  2000-06-30 00:00:00  2000-07-31 00:00:00  \
0                41861.39             42466.02             42074.79
1                 1317.78              1209.89              1395.69
2                 1352.22              1541.05              1551.54
3                  893.05               955.70               990.45
4                  517.64               554.94               525.07
...                   ...                  ...                  ...
2046                76.58                74.37                85.52
2047              2374.43              2458.35              2347.50
2048               206.19               264.77               300.82
2049               276.11               312.53               299.24
2050               950.11              1099.92               939.57

      2000-08-31 00:00:00  ...  2022-04-30 00:00:00  2022-05-31 00:00:00  \
0                48547.80  ...             55139.08             64962.64
1                 1447.55  ...              2195.00              2097.04
2                 1528.48  ...              1081.26              1085.52
3                 1087.76  ...              4778.90              4416.77
4                  532.96  ...              2388.16              2366.48
...                   ...  ...                  ...                  ...
2046                93.18  ...               223.45               239.60
2047              2678.81  ...              9210.61              9992.12
2048               348.25  ...              4738.45              4784.71
2049               316.67  ...               118.07               116.61
2050               982.17  ...               128.35               131.15

      2022-06-30 00:00:00  2022-07-31 00:00:00  2022-08-31 00:00:00  \
0                50578.51             52374.81             53958.90
1                 1894.01              3013.90              2911.44
2                  993.08              1227.99              1318.36
3                 4292.86              5748.56              5673.71
4                 2875.89              2809.31              2778.87
...                   ...                  ...                  ...
2046               196.72               202.09               207.16
2047              8000.12              8651.85              8854.32
2048              4146.87              4200.09              3751.06
2049               117.43               138.42               119.12
2050                92.72               101.96                96.41

      2022-09-30 00:00:00  2022-10-31 00:00:00  2022-11-30 00:00:00  \
0                50906.19             73778.56             73097.94
1                 2584.93              2574.33              2778.90
2                 1308.06              1206.71              1285.05
3                 5021.04              5110.32              4996.17
4                 2719.75              2739.62              2854.20
...                   ...                  ...                  ...
2046               198.51               195.70               229.47
2047              8331.51              9213.96             10233.84
2048              3460.91              3720.23              4578.55
2049               102.86               107.07               116.13
2050                71.07                70.63                79.21

      2022-12-31 00:00:00  ISIN_First2
0                75806.25           AN
1                 2853.52           AR
2                 1591.32           AR
3                 5814.86           AR
4                 2900.21           AT
...                   ...          ...
2046               222.47           ZA
2047              9660.81           ZA
2048              4363.12           ZA
2049               114.54           ZA
2050                42.20           ZA

[2051 rows x 279 columns]

In [22]:
#Second step we merge the data set with the region, keeping only the one matching the EUR countries
df_EUR_monthly_capitalization = pd.merge(df_EUR,  df_monthly_capitalization, on='ISIN_First2', how='inner')
df_EUR_monthly_return = pd.merge(df_EUR,  df_monthly_return, on='ISIN_First2', how='inner')

In [27]:
print(df_EUR_monthly_capitalization)

    ISIN_First2 Unnamed: 1 Unnamed: 2          ISIN                      NAME  \
0            AT    AUSTRIA        EUR  AT00000VIE62            FLUGHAFEN WIEN
1            AT    AUSTRIA        EUR  AT0000652011          ERSTE GROUP BANK
2            AT    AUSTRIA        EUR  AT0000743059                       OMV
3            AT    AUSTRIA        EUR  AT0000746409                   VERBUND
4            AT    AUSTRIA        EUR  AT0000831706              WIENERBERGER
..          ...        ...        ...           ...                       ...
503          SE    SWEDEN         EUR  SE0015988019           NIBE INDUSTRIER
504          SE    SWEDEN         EUR  SE0016589188              ELECTROLUX B
505          SE    SWEDEN         EUR  SE0017486889             ATLAS COPCO A
506          SE    SWEDEN         EUR  SE0018012494  MODERN TIMES GROUP MTG B
507          SE    SWEDEN         EUR  SE0020050417           BOLIDEN ORD SHS

     2000-01-31 00:00:00  2000-02-29 00:00:00  2000-03-31 00:00:00  \
0                 567.85               559.05               576.48
1                1803.98              1857.91              1910.40
2                2583.84              2113.74              2065.10
3                1655.07              1781.21              1618.73
4                1386.43              1283.95              1428.44
..                   ...                  ...                  ...
503                61.11                64.39                68.47
504              7593.79              6702.68              6739.48
505              3539.84              3231.37              3400.32
506              2083.35              2318.42              2166.79
507               231.99               176.27               277.91

     2000-04-30 00:00:00  2000-05-31 00:00:00  ...  2022-03-31 00:00:00  \
0                 498.86               517.64  ...              2453.36
1                1827.24              1810.26  ...             15823.98
2                2223.10              2305.32  ...             15799.81
3                1446.45              1554.72  ...             18088.45
4                1487.43              1567.26  ...              3511.64
..                   ...                  ...  ...                  ...
503                67.18                65.64  ...             20097.57
504              6026.53              6006.13  ...              4617.69
505              3273.63              3104.37  ...             44287.14
506              2195.59              1990.56  ...              1627.46
507               219.57               231.71  ...             14031.53

     2022-04-30 00:00:00  2022-05-31 00:00:00  2022-06-30 00:00:00  \
0                2388.16              2366.48              2875.89
1               13448.16             13356.15             10873.35
2               16951.82             19071.10             15313.75
3               18353.60             16894.99             16612.75
4                3280.93              3173.55              2466.15
..                   ...                  ...                  ...
503             17739.52             15508.29             13362.37
504              4245.08              4258.84              3692.71
505             38732.62             37523.50             31313.66
506              1177.55              1294.68               883.00
507             12042.65             11453.52              8683.85

     2022-07-31 00:00:00  2022-08-31 00:00:00  2022-09-30 00:00:00  \
0                2809.31              2778.87              2719.75
1               10824.56              9715.28              9532.79
2               13821.87             13255.37             11981.47
3               18659.53             16321.45             14584.20
4                2635.59              2703.34              2324.62
..                   ...                  ...                  ...
503             17802.84             16809.54             16082.16
504              3933.26              3496.16              2878.77
505             38867.54             34336.09             31707.46
506              1307.19              1119.39               846.93
507              9039.53              8836.91              8541.12

     2022-10-31 00:00:00  2022-11-30 00:00:00  2022-12-31 00:00:00
0                2739.62              2854.20              2900.21
1               10602.50             13099.32             13715.54
2               15085.69             16902.76             16800.81
3               13333.42             15082.96             14289.58
4                2634.32              2896.84              2690.25
..                   ...                  ...                  ...
503             14214.49             16381.75             16615.26
504              3389.53              3828.45              3714.02
505             35865.30             40666.87             39667.59
506               951.81               978.44              1087.43
507              7959.95              9949.04             10270.25

[508 rows x 281 columns]

In [28]:
print(df_EUR_monthly_return)

    ISIN_First2 Unnamed: 1 Unnamed: 2          ISIN                      NAME  \
0            AT    AUSTRIA        EUR  AT00000VIE62            FLUGHAFEN WIEN
1            AT    AUSTRIA        EUR  AT0000652011          ERSTE GROUP BANK
2            AT    AUSTRIA        EUR  AT0000743059                       OMV
3            AT    AUSTRIA        EUR  AT0000746409                   VERBUND
4            AT    AUSTRIA        EUR  AT0000831706              WIENERBERGER
..          ...        ...        ...           ...                       ...
503          SE    SWEDEN         EUR  SE0015988019           NIBE INDUSTRIER
504          SE    SWEDEN         EUR  SE0016589188              ELECTROLUX B
505          SE    SWEDEN         EUR  SE0017486889             ATLAS COPCO A
506          SE    SWEDEN         EUR  SE0018012494  MODERN TIMES GROUP MTG B
507          SE    SWEDEN         EUR  SE0020050417           BOLIDEN ORD SHS

     2000-01-31 00:00:00  2000-02-29 00:00:00  2000-03-31 00:00:00  \
0                 156.25               153.83               158.62
1                  94.91                97.74               100.50
2                 389.64               318.75               311.41
3                 524.60               564.59               518.56
4                2379.46              2203.58              2451.55
..                   ...                  ...                  ...
503                17.82                18.78                19.97
504               533.00               470.45               473.03
505               221.48               202.18               212.75
506                76.83                85.51                79.92
507                15.72                11.76                11.49

     2000-04-30 00:00:00  2000-05-31 00:00:00  ...  2022-03-31 00:00:00  \
0                 137.27               148.95  ...              1073.50
1                  96.13                97.86  ...               567.30
2                 335.24               356.91  ...              4277.87
3                 463.37               498.05  ...              8285.25
4                2552.81              2746.80  ...              6331.35
..                   ...                  ...  ...                  ...
503                19.59                19.61  ...              6003.53
504               432.63               431.17  ...              2196.55
505               209.47               198.64  ...              8565.58
506                80.98                73.42  ...               128.27
507                 8.90                 8.70  ...                52.97

     2022-04-30 00:00:00  2022-05-31 00:00:00  2022-06-30 00:00:00  \
0                1044.97              1035.49              1258.39
1                 482.13               504.75               410.92
2                4589.77              5163.58              4341.76
3                8406.71              7820.72              7690.07
4                5915.37              5895.80              4581.59
..                   ...                  ...                  ...
503              5299.14              4659.33              4014.61
504              2209.15              2216.31              1921.70
505              7554.67              7456.44              6222.46
506                92.81               102.04                91.70
507                46.57                46.19                35.02

     2022-07-31 00:00:00  2022-08-31 00:00:00  2022-09-30 00:00:00  \
0                1229.26              1215.93              1190.06
1                 409.07               367.15               360.26
2                3918.78              3758.17              3396.99
3                8637.53              7555.23              6751.05
4                4896.37              5022.24              4318.66
..                   ...                  ...                  ...
503              5348.71              5050.28              4831.75
504              2046.88              1819.41              1558.19
505              7723.51              6823.05              6300.71
506               117.58               100.69                76.18
507                36.46                35.64                34.45

     2022-10-31 00:00:00  2022-11-30 00:00:00  2022-12-31 00:00:00
0                1198.76              1248.90              1269.03
1                 400.68               495.04               518.33
2                4277.10              4792.28              4763.37
3                6172.06              6981.93              6614.67
4                4894.01              5548.18              5152.51
..                   ...                  ...                  ...
503              4270.62              4921.75              4991.91
504              1834.65              2072.22              2010.28
505              7188.93              8151.37              7951.07
506                85.61                88.01                97.81
507                32.10                40.12                41.42

[508 rows x 281 columns]

In [29]:
df_EUR_monthly_capitalization.to_csv('/Users/giuli\Documents\SEF_Homework1\SEF/df_EUR_monthly_capitalization.csv', index=False)
df_EUR_monthly_return.to_csv('/Users/giuli\Documents\SEF_Homework1\SEF/df_EUR_monthly_return.csv', index=False)
#We have now 508 firms with the data for 281 months (minus the first columns)