In [ ]:
# Hi baltha

In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv('https://raw.githubusercontent.com/GiammarcoBozzelli/SEF/baltha/df_EUR_monthly_capitalization.csv')

In [3]:
df.head()

,ISIN_First2,Unnamed: 1,Unnamed: 2,ISIN,NAME,2000-01-31 00:00:00,2000-02-29 00:00:00,2000-03-31 00:00:00,2000-04-30 00:00:00,2000-05-31 00:00:00,...,2022-03-31 00:00:00,2022-04-30 00:00:00,2022-05-31 00:00:00,2022-06-30 00:00:00,2022-07-31 00:00:00,2022-08-31 00:00:00,2022-09-30 00:00:00,2022-10-31 00:00:00,2022-11-30 00:00:00,2022-12-31 00:00:00
0,AT,AUSTRIA,EUR,AT00000VIE62,FLUGHAFEN WIEN,567.85,559.05,576.48,498.86,517.64,...,2453.36,2388.16,2366.48,2875.89,2809.31,2778.87,2719.75,2739.62,2854.20,2900.21
1,AT,AUSTRIA,EUR,AT0000652011,ERSTE GROUP BANK,1803.98,1857.91,1910.40,1827.24,1810.26,...,15823.98,13448.16,13356.15,10873.35,10824.56,9715.28,9532.79,10602.50,13099.32,13715.54
2,AT,AUSTRIA,EUR,AT0000743059,OMV,2583.84,2113.74,2065.10,2223.10,2305.32,...,15799.81,16951.82,19071.10,15313.75,13821.87,13255.37,11981.47,15085.69,16902.76,16800.81
3,AT,AUSTRIA,EUR,AT0000746409,VERBUND,1655.07,1781.21,1618.73,1446.45,1554.72,...,18088.45,18353.60,16894.99,16612.75,18659.53,16321.45,14584.20,13333.42,15082.96,14289.58
4,AT,AUSTRIA,EUR,AT0000831706,WIENERBERGER,1386.43,1283.95,1428.44,1487.43,1567.26,...,3511.64,3280.93,3173.55,2466.15,2635.59,2703.34,2324.62,2634.32,2896.84,2690.25